---
layout: default
---

{% include base_path %}

<div id="main" role="main">
  <article class="page">
    <header style="text-align: center;">
      <h1 class="page__title">{{ page.title }}</h1>
    </header>

    <section class="page__content">
      {{ content }}
    </section>

    <div class="research-container">
      {% for paper in site.research %}
        <div class="research-card">
          <h2><a href="{{ paper.url }}">{{ paper.title }}</a></h2>
          <p>{{ paper.date | date: "%B %d, %Y" }}</p>
          <p>{{ paper.description }}</p>
        </div>
      {% endfor %}
    </div>
  </article>
</div>
